<form action="/create_shared_ride_from_preferred_trip" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="preferred_trip_id" value="<%= @preferred_trip.id %>">

  <div class="form-group">
    <label for="carpool_group_id">
      Carpool group
    </label>

    <%= select_tag(:carpool_group_id, options_from_collection_for_select(CarpoolGroup.all, :id, :created_at, @shared_ride.carpool_group_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create shared ride
  </button>
</form>
