<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Shared Rides

    <a data-toggle="collapse" href="#carpool_group_shared_rides_new_form">
      Add shared ride
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @carpool_group.shared_rides.each do |shared_ride| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/shared_rides/<%= shared_ride.id %>">
          <%= shared_ride.user_id %>
        </a>

        <%if current_user == shared_ride.user %>
          <a href="/delete_shared_ride_from_carpool_group/<%= shared_ride.id %>">
            Delete
          </a>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="carpool_group_shared_rides_new_form">
        <%= render partial: "carpool_group_templates/carpool_group_shared_rides_new_form" %>
      </div>
    </div>

  </ul>
</div>
